@import url('https://fonts.googleapis.com/css?family=Itim');

html {
  background-color: #fafafa;
} 
main{
  background-color: #fafafa;
}
body {
  background-color: #fafafa;
} 
#root{
  background-color: #fafafa;
}
#main{
  background-color: #fafafa;
}
/* .ant-table-cell{
  padding: 0 !important;
} */
.ant-table-tbody{
  @apply border-2 rounded-xl !important;
}
/* .header_table{
  @apply bg-gray-900 text-white p-3
}
thead[className*="ant-table-cell"] th{
} */

thead[class*="ant-table-thead"] th{
  background-color: #494949  !important;
  color: #ffffff !important;
  font-size: medium !important;
 

}


.icon_nav{
  color: white;
}
.bt_back{
  background-color: black;
}
.svg_icons {
  transform: scale(2);
}
.textDec{
  text-decoration: none;
  color: white;
}
.textDec:hover {
  color: rgb(226, 226, 226);
}
.btn_addexam{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.btn_addexam:hover {
  color: rgb(63, 63, 63);
}

